<%%
  # initialize row
  row = cell(:elements, :row).new

  # initialize form
  form = cell(:inputs, :form).new(url: url, method: method)

  # initialize input name
  input_name = cell(:inputs, :text).new(
    name: '<%= @singular_name %>[name]',
    label: 'Name',
    required: true,
    class: 'md-12',
    value: @<%= @singular_name %>.name
  )

  # initialize button save
  button_save = cell(:elements, :button).new(
    type: 'submit',
    label: 'Save',
    style: 'success',
    icon: 'check'
  )
%>

<!-- FORM CONTAINER -->
<%%=raw form.open %>

  <%%=raw row.open %>

    <%%=raw input_name %>

  <%%=raw row.close %>

  <div class="text-right">

    <%%=raw button_save %>

  </div>

<%%=raw form.close %>
<!-- / FORM CONTAINER -->